* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
}

body {
    max-width: 1000px;
    display: block;
    margin: 0 auto;
    background-color: #274862;
}

input, button {
    outline: none;
    border: none;
}

label {
    color: #fff;
}

button {
    cursor: pointer;
    font-weight: 600;
    display: block;
    background-color: #3477aa;
    color: #031725;
    border-radius: 8px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 4px;
    background-color: #031725;
    border-radius: 12px;
    padding: 40px 0;

}

.form button {
    max-width: 200px;
    padding: 16px 20px;
    margin: 28px auto;
    font-size: 22px;
}

.form input {
    width: 300px;
    padding: 5px 14px;
    border-radius: 6px;
}

.form input::placeholder {
    color: #549acf;
    font-size: 14px;
}

.form label {
    font-size: 18px;
    margin-top: 16px;
}

.container {
    color: #fff;
    margin-top: 24px;
}

.container button {
    padding: 12px 16px;
    margin-top: 12px;
}

